<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Nombre común</th>
      <th>Tipo</th>
      <th>Clima</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plant of plants">
      <td>
        <strong>{{ plant.id }}</strong>
      </td>
      <td>{{ plant.nombre_comun }}</td>
      <td>{{ plant.tipo }}</td>
      <td>{{ plant.clima }}</td>
    </tr>
  </tbody>
</table>
<div class="container-fluid" id="data">
  <p *ngIf="numInt && numExt">
    Total plantas de interior: {{ numInt }}<br />
    Total plantas de exterior: {{ numExt }}
  </p>
</div>
