.table {
  margin-top: 25px;
  margin-bottom: 17px;
  width: 792px;
}

tr {
  height: 49px;
}

tr:last-child > td {
  border-bottom: none;
}

th,
td {
  vertical-align: middle;
}

td {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

#data {
  padding: 0px;
}

#data > p {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  margin-bottom: 112px;
}
